<!DOCTYPE html>
<html lang="html">
    <body>
        <h1>Welcome to The Comprehensive Metabolic Panel API</h1>
        <h2>Made by Trevor Stahl</h2>
        <br>
        <h3>This API allows you to quickly and efficiently determine if a specific metabolite is within healthy ranges</h3>
        <h3>We use range references established by the AMERICAN BOARD OF INTERNAL MEDICINE</h3>
        <br>
        <h4>These are the metabolites we currently support, their healthy ranges, and the units we calculate in:</h4>
        <ul>
            <li>albumin  |  35 to 55 g/L</li>
            <li>blood urea nitrogen (bun)  |  80 to 200 mg/L</li>
            <li>calcium  |  86 to 102 mg/L</li>
            <li>carbon dioxide (co2)  |  23 to 28 mEq/L</li>
            <li>chloride  |  98 to 106 mEq/L</li>
            <li>creatinine  |  5 to 13 mg/L</li>
            <li>glucose  |  700 to 990 mg/L</li>
            <li>potassium  |  35 to 50 mEq/decaL</li>
            <li>sodium  |  136 to 145 mEq/L</li>
            <li>total bilirubin (bilirubin)  |  3 to 10 mg/L</li>
            <li>total protein (protein)  |  55 to 90 g/L</li>
            <li>alanine aminotransferase (alt)  |  10 to 40 U/L</li>
            <li>alkaline phosphatase (alp)  |  30 to 120 U/L</li>
            <li>aspartate aminotransferase (ast)  |  10 to 40 U/L</li>
        </ul>
        <p>* Use the string inside parentheses when they are present for multi-word metabolites<br>
            In example: blood urea nitrogen should be called with 'bun'</p>
    </body>
</html>
